// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$dark-primary : hsla(207, 23%, 9%, 1);

$dark-secondary: hsla(205, 22%, 25%, 1);
$dark-tertiary : hsla(205, 31%, 33%, 1);

$red-primary  : hsla(0, 79%, 15%, 1);
$red-secondary: hsla(360, 52%, 48%, 1);
$red-tertiary : hsla(360, 79%, 70%, 1);

$text-primary  : hsla(0, 0%, 100%, 1);
$text-secondary: hsla(216, 18%, 70%, 1);
$text-tertiary : hsla(206, 17%, 47%, 1);

// $font-roboto: 'Roboto',
// sans-serif;

$font: 'Poppins',
sans-serif;