.o-picture {

  &-movie {

    @include only-xs {
      width: 8em;
    }

    @include only-sm {
      width: 10em;
    }

    @include only-md {
      width: 12em;

    }

  }

  &-poster {

    @include only-xs {
      width: 10em;
    }

    @include only-sm {
      width: 11em;
    }

    @include only-md {
      width: 12em;

    }

  }

  &-episode {
    @include only-xs {
      width : 250px;
      height: 160px;
    }

    @include only-sm {
      width : 260px;
      height: 170px;
    }

    @include only-md {
      width : 270px;
      height: 180px;
    }
  }

}