.c-card {
  &__picture-episode {
    padding-left: .5em;
    object-fit  : cover;

    &:hover {
      cursor    : pointer;
      transform : scale(1.05);
      transition: .3s;
    }
  }

  &__title {
    position        : absolute;
    color           : $text-secondary;
    bottom          : 0;
    width           : 100%;
    text-align      : center;
    background-color: $dark-primary;
  }


  &__picture-movie {
    border-radius: 4px;
    object-fit   : cover;
    padding-left : .5em;

    &:hover {
      cursor    : pointer;
      transform : scale(1.05);
      transition: .3s;
    }
  }
}