.c-section {
  &__container {
    display       : flex;
    align-items   : center;
    padding-bottom: .5em;
  }

  &__container--subtitle {
    color: $text-tertiary;
  }

  &__container--title {
    color       : $text-primary;
    margin-right: .5em;
  }

}