.main-menu {
  display    : flex;
  list-style : none;
  align-items: center;
}

.main-menu__item {
  padding   : 0 .3em;
  font-size : var(--size-normal);
  text-align: center;
  color     : $text-secondary;
}

.main-menu__link {
  color: inherit;

  &:hover {
    color     : $text-primary;
    transition: .3s ease-in-out;
  }
}


.main-menu__search {
  width: 1em;
  fill : $text-secondary;

  &:hover {
    cursor    : pointer;
    fill      : $text-primary;
    transition: .3s ease-in-out;
  }
}