.main-menu__back {
  width : var(--size-title);
  height: var(--size-title);

  >path {
    fill: $text-secondary;
  }

  &:hover {
    >path {
      fill      : $text-primary;
      transition: .3s;
    }
  }
}


.video-player {
  position      : relative;
  height        : 0;
  padding-bottom: 40vmin;
}


iframe {
  position: absolute;
  width   : 100%;
  height  : 40vmin;
}


@import "./player/player-shows";