.carousel-item.movie {
  .carousel-item__picture {
    border-radius: 4px;
    object-fit   : cover;
    width        : 160px;
    padding-left : .5em;
  }

}

.caoursel-item__picture {
  &:hover {
    cursor    : pointer;
    transform : scale(1.05);
    transition: .3s;
  }
}