@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #12171c;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.o-container {
  padding: 1em;
}

.o-font-title {
  font-weight: 700;
  line-height: 21px;
}
@media (min-width: 0px) and (max-width: 500px) {
  .o-font-title {
    font-size: 1rem;
    line-height: 40px;
  }
}
@media (min-width: 501px) and (max-width: 1100px) {
  .o-font-title {
    font-size: 1.2rem;
    line-height: 40px;
  }
}
@media (min-width: 1101px) {
  .o-font-title {
    font-size: 1.4rem;
    line-height: 56px;
  }
}
.o-font-subtitle {
  font-weight: 500;
  line-height: 21px;
}
@media (min-width: 0px) and (max-width: 500px) {
  .o-font-subtitle {
    font-size: 0.875rem;
    line-height: 40px;
  }
}
@media (min-width: 501px) and (max-width: 1100px) {
  .o-font-subtitle {
    font-size: 0.975rem;
    line-height: 40px;
  }
}
@media (min-width: 1101px) {
  .o-font-subtitle {
    font-size: 1rem;
    line-height: 56px;
  }
}
.o-font-normal {
  font-weight: 400;
  line-height: 21px;
}
@media (min-width: 0px) and (max-width: 500px) {
  .o-font-normal {
    font-size: 0.875rem;
    line-height: 40px;
  }
}
@media (min-width: 501px) and (max-width: 1100px) {
  .o-font-normal {
    font-size: 0.975rem;
    line-height: 40px;
  }
}
@media (min-width: 1101px) {
  .o-font-normal {
    font-size: 1rem;
    line-height: 56px;
  }
}
.o-font-small {
  font-weight: 400;
  line-height: 21px;
}
@media (min-width: 0px) and (max-width: 500px) {
  .o-font-small {
    font-size: 0.75rem;
    line-height: 40px;
  }
}
@media (min-width: 501px) and (max-width: 1100px) {
  .o-font-small {
    font-size: 0.95rem;
    line-height: 40px;
  }
}
@media (min-width: 1101px) {
  .o-font-small {
    font-size: 1rem;
    line-height: 56px;
  }
}
.o-font-smaller {
  font-weight: 400;
  line-height: 21px;
}
@media (min-width: 0px) and (max-width: 500px) {
  .o-font-smaller {
    font-size: 0.725rem;
    line-height: 40px;
  }
}
@media (min-width: 501px) and (max-width: 1100px) {
  .o-font-smaller {
    font-size: 0.825rem;
    line-height: 40px;
  }
}
@media (min-width: 1101px) {
  .o-font-smaller {
    font-size: 0.925rem;
    line-height: 56px;
  }
}

.o-card-episode {
  position: relative;
}

@media (min-width: 0px) and (max-width: 500px) {
  .o-picture-movie {
    width: 8em;
  }
}
@media (min-width: 501px) and (max-width: 1100px) {
  .o-picture-movie {
    width: 10em;
  }
}
@media (min-width: 1101px) {
  .o-picture-movie {
    width: 12em;
  }
}
@media (min-width: 0px) and (max-width: 500px) {
  .o-picture-episode {
    width: 250px;
    height: 160px;
  }
}
@media (min-width: 501px) and (max-width: 1100px) {
  .o-picture-episode {
    width: 260px;
    height: 170px;
  }
}
@media (min-width: 1101px) {
  .o-picture-episode {
    width: 270px;
    height: 180px;
  }
}

.c-header__menu {
  display: flex;
  list-style: none;
  align-items: center;
}
.c-header__menu-item {
  padding: 0 0.3em;
  text-align: center;
  color: #a5b0c0;
}
.c-header__menu-item-link {
  color: inherit;
}
.c-header__menu-item-link:hover {
  color: white;
  transition: 0.3s ease-in-out;
}
.c-header__menu-item-link-search {
  width: 1em;
  fill: #a5b0c0;
}
.c-header__menu-item-link-search:hover {
  cursor: pointer;
  fill: white;
  transition: 0.3s ease-in-out;
}
.c-header__menu-item-link-back {
  width: 1em;
}
.c-header__menu-item-link-back > path {
  fill: #a5b0c0;
}
.c-header__menu-item-link-back:hover > path {
  fill: white;
  transition: 0.3s;
}

.c-section__container {
  display: flex;
  align-items: center;
  padding-bottom: 0.5em;
}
.c-section__container-subtitle {
  color: #637b8c;
}
.c-section__container-title {
  color: white;
  margin-right: 0.5em;
}

.slick-next,
.slick-prev {
  color: white;
  font-size: var(--size-title);
  position: absolute;
  width: 2em;
  height: 100%;
  text-align: center;
  z-index: 10;
  border: 0;
}

.slick-prev {
  background: linear-gradient(to right, #12171c 25%, rgba(18, 23, 28, 0.1));
  left: -1px;
}

.slick-next {
  right: -1px;
  top: 0;
  background: linear-gradient(to left, #12171c 25%, rgba(18, 23, 28, 0.1));
}

.slick-prev:hover,
.slick-next:hover {
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.c-card__picture-episode {
  padding-left: 0.5em;
  object-fit: cover;
}
.c-card__picture-episode:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s;
}
.c-card__title {
  position: absolute;
  color: #a5b0c0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #12171c;
}
.c-card__picture-movie {
  border-radius: 4px;
  object-fit: cover;
  padding-left: 0.5em;
}
.c-card__picture-movie:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s;
}
