@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #12171c;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.o-container {
  padding: 1em;
}

.o-font-title {
  font-weight: 700;
}
@media (min-width: 0px) and (max-width: 500px) {
  .o-font-title {
    font-size: 1rem;
  }
}
@media (min-width: 501px) and (max-width: 1100px) {
  .o-font-title {
    font-size: 1.2rem;
  }
}
@media (min-width: 1101px) {
  .o-font-title {
    font-size: 1.4rem;
  }
}
.o-font-subtitle {
  font-weight: 500;
}
@media (min-width: 0px) and (max-width: 500px) {
  .o-font-subtitle {
    font-size: 0.875rem;
  }
}
@media (min-width: 501px) and (max-width: 1100px) {
  .o-font-subtitle {
    font-size: 0.975rem;
  }
}
@media (min-width: 1101px) {
  .o-font-subtitle {
    font-size: 1rem;
  }
}
.o-font-normal {
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 500px) {
  .o-font-normal {
    font-size: 0.875rem;
  }
}
@media (min-width: 501px) and (max-width: 1100px) {
  .o-font-normal {
    font-size: 0.975rem;
  }
}
@media (min-width: 1101px) {
  .o-font-normal {
    font-size: 1rem;
  }
}
.o-font-small {
  font-weight: 300;
}
@media (min-width: 0px) and (max-width: 500px) {
  .o-font-small {
    font-size: 0.75rem;
  }
}
@media (min-width: 501px) and (max-width: 1100px) {
  .o-font-small {
    font-size: 0.95rem;
  }
}
@media (min-width: 1101px) {
  .o-font-small {
    font-size: 1rem;
  }
}
.o-font-smaller {
  font-weight: 400;
}
@media (min-width: 0px) and (max-width: 500px) {
  .o-font-smaller {
    font-size: 0.725rem;
  }
}
@media (min-width: 501px) and (max-width: 1100px) {
  .o-font-smaller {
    font-size: 0.825rem;
  }
}
@media (min-width: 1101px) {
  .o-font-smaller {
    font-size: 0.925rem;
  }
}

.o-card-episode {
  position: relative;
}

@media (min-width: 0px) and (max-width: 500px) {
  .o-picture-movie {
    width: 8em;
  }
}
@media (min-width: 501px) and (max-width: 1100px) {
  .o-picture-movie {
    width: 10em;
  }
}
@media (min-width: 1101px) {
  .o-picture-movie {
    width: 12em;
  }
}
@media (min-width: 0px) and (max-width: 500px) {
  .o-picture-poster {
    width: 10em;
  }
}
@media (min-width: 501px) and (max-width: 1100px) {
  .o-picture-poster {
    width: 11em;
  }
}
@media (min-width: 1101px) {
  .o-picture-poster {
    width: 12em;
  }
}
@media (min-width: 0px) and (max-width: 500px) {
  .o-picture-episode {
    width: 250px;
    height: 160px;
  }
}
@media (min-width: 501px) and (max-width: 1100px) {
  .o-picture-episode {
    width: 260px;
    height: 170px;
  }
}
@media (min-width: 1101px) {
  .o-picture-episode {
    width: 270px;
    height: 180px;
  }
}
@media (min-width: 0px) and (max-width: 500px) {
  .o-picture-round {
    width: 4em;
    height: 4em;
    border-radius: 50%;
  }
}
@media (min-width: 501px) and (max-width: 1100px) {
  .o-picture-round {
    width: 7.5em;
    height: 7.5em;
    border-radius: 50%;
  }
}
@media (min-width: 1101px) {
  .o-picture-round {
    width: 8em;
    height: 8em;
    border-radius: 50%;
  }
}

.o-space-between {
  justify-content: space-between;
}

.o-bg-click {
  background-color: #ba3b3b;
  display: flex;
  width: 50px;
  justify-content: center;
  padding: 0.2em;
  border-radius: 0.2em;
}
.o-bg-initial {
  padding: 0.2em;
  border-radius: 0.2em;
  background-color: #637b8c;
  display: flex;
  width: 50px;
  justify-content: center;
}

.o-tag-language {
  border-radius: 2px;
  background-color: #ba3b3b;
  padding: 0.172em;
  color: white;
  margin-left: 0.3em;
}

.o-icon-back {
  vertical-align: middle;
}
@media (min-width: 0px) and (max-width: 500px) {
  .o-icon-back {
    width: 1.2em;
  }
}
@media (min-width: 501px) and (max-width: 1100px) {
  .o-icon-back {
    width: 1.3em;
  }
}
@media (min-width: 1101px) {
  .o-icon-back {
    width: 1.4em;
  }
}
@media (min-width: 0px) and (max-width: 500px) {
  .o-icon-search {
    width: 1em;
  }
}
@media (min-width: 501px) and (max-width: 1100px) {
  .o-icon-search {
    width: 1.1em;
  }
}
@media (min-width: 1101px) {
  .o-icon-search {
    width: 1.2em;
  }
}
@media (min-width: 0px) and (max-width: 500px) {
  .o-icon-option {
    width: 1.25em;
  }
}
@media (min-width: 501px) and (max-width: 1100px) {
  .o-icon-option {
    width: 1.35em;
  }
}
@media (min-width: 1101px) {
  .o-icon-option {
    width: 1.45em;
  }
}

.o-grid-results {
  display: grid;
  grid-gap: 0.1em;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.c-header__menu {
  display: flex;
  list-style: none;
  align-items: center;
}
.c-header__menu-item {
  padding: 0 0.3em;
  text-align: center;
  color: #a5b0c0;
}
.c-header__menu-item-normal {
  color: white;
}
.c-header__menu-item-link {
  color: inherit;
}
.c-header__menu-item-link:hover {
  color: white;
  transition: 0.3s ease-in-out;
}
.c-header__menu-item-link-icon {
  fill: #a5b0c0;
}
.c-header__menu-item-link-icon:hover {
  cursor: pointer;
  fill: white;
  transition: 0.3s ease-in-out;
}
.c-header__menu-item-link-back {
  width: 1em;
}
.c-header__menu-item-link-back > path {
  fill: #a5b0c0;
}
.c-header__menu-item-link-back:hover > path {
  fill: white;
  transition: 0.3s;
}

.c-section__container {
  display: flex;
  align-items: center;
  padding-bottom: 0.5em;
}
.c-section__container-subtitle {
  color: #637b8c;
}
.c-section__container-title {
  color: white;
  margin-right: 0.5em;
}

.slick-next,
.slick-prev {
  color: white;
  font-size: var(--size-title);
  position: absolute;
  width: 2em;
  height: 100%;
  text-align: center;
  z-index: 10;
  border: 0;
}

.slick-prev {
  background: linear-gradient(to right, #12171c 25%, rgba(18, 23, 28, 0.1));
  left: -1px;
}

.slick-next {
  right: -1px;
  top: 0;
  background: linear-gradient(to left, #12171c 25%, rgba(18, 23, 28, 0.1));
}

.slick-prev:hover,
.slick-next:hover {
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.c-card__picture-episode {
  padding-left: 0.5em;
  object-fit: cover;
}
.c-card__picture-episode:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s;
}
.c-card__title {
  position: absolute;
  color: #a5b0c0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #12171c;
}
.c-card__picture-movie {
  border-radius: 4px;
  object-fit: cover;
  padding-left: 0.5em;
}
.c-card__picture-movie:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s;
}

.c-video {
  position: relative;
  height: 0;
  padding-bottom: 40vmin;
}
.c-video__container {
  position: absolute;
  width: 100%;
  height: 40vmin;
}

.c-more-information {
  display: inline-grid;
  grid-template-columns: repeat(4, max-content);
  grid-gap: 0.375em;
  justify-items: center;
  padding-top: 0.5em;
}
.c-more-information__item {
  display: inline-grid;
  grid-template-columns: repeat(2, max-content);
  grid-gap: 0.175em;
  align-items: center;
}
.c-more-information__item > svg {
  width: 0.8em;
}
.c-more-information__item > svg > path {
  fill: white;
}

.c-details-multimedia {
  display: inline-grid;
  grid-template-columns: max-content 1fr;
  gap: 0.5em;
}

.c-poster-and-options {
  display: flex;
  flex-direction: column;
}
.c-poster-and-options__options {
  justify-content: center;
  display: inline-grid;
  grid-template-columns: repeat(2, max-content);
  grid-gap: 0.375em;
  justify-items: center;
  padding: 0.5em 0.2em;
}
.c-poster-and-options__options-heart, .c-poster-and-options__options-history {
  width: 2.5em;
  cursor: pointer;
}
.c-poster-and-options__options-heart-svg, .c-poster-and-options__options-history-svg {
  width: 65%;
}
.c-poster-and-options__options-heart-icon, .c-poster-and-options__options-history-icon {
  fill: #12171c;
}
.c-poster-and-options__options-heart:hover .c-poster-and-options__options-heart-icon,
.c-poster-and-options__options-heart:hover .c-poster-and-options__options-history-icon, .c-poster-and-options__options-history:hover .c-poster-and-options__options-heart-icon,
.c-poster-and-options__options-history:hover .c-poster-and-options__options-history-icon {
  fill: white;
  transition: 0.5s;
}

.c-description {
  display: flex;
  flex-direction: column;
  color: #a5b0c0;
  gap: 0.3em;
}
.c-description__header {
  display: flex;
  align-items: center;
}
.c-search__container {
  display: flex;
  align-items: center;
}
.c-search-bar {
  padding: 0.5em;
  border-radius: 0.5em;
  border: none;
}

.c-selectbox {
  padding-left: 0.2em;
}
.c-selectbox__container {
  padding: 0.5em;
  background: #ef7676;
  color: #12171c;
  border: 1px solid #3a586e;
  border-radius: 0.5em;
}

.c-profile {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.c-user {
  display: flex;
  align-items: center;
  gap: 1em;
}
.c-user__name {
  color: white;
}

.c-options__item {
  display: flex;
  align-items: center;
  padding-bottom: 1em;
  border-bottom: 1px solid #a5b0c0;
  padding-bottom: 16px;
  margin-bottom: 1.3em;
  gap: 0.5em;
}
.c-options__link-content {
  color: #a5b0c0;
}
.c-options__item-icon {
  fill: #a5b0c0;
}
